<%- include('../includes/head') %>
</head>

<body>
    <%- include('../includes/navigation') %>
    <main>
        <h1>Nothing there!</h1>
    </main>
    <script src="/js/main.js"></script>
</body>

</html>